.plxeditor-iframe {
	width:100%;
	height:100%;
	background-color:#fff;
	border: 1px solid #bbb;
	min-height: 30rem;
}
.plxeditor-toolbar {
	clear:both;
	float:left;
	margin:0 !important;
	padding:0 !important;
	width:100%;
}
.plxeditor-footer {
	text-align: right;
	font-size: 1.2rem;
	width: 100%;
	padding-right: 10px;
}
.wysiwyg-fullscreen .plxeditor-footer {
	padding-left: 7px;
	border-bottom: 1px solid #efefef;
}
.wysiwyg-fullscreen .plxeditor-toolbar {
	border-bottom: 1px solid #efefef;
}
.plxeditor .resizable {
	resize: vertical;   /* Options: horizontal, vertical, both */
	overflow: auto; /* fix for Safari */
}
.show {
	display: inline-block;
}
.hide {
	display: none;
}
table#popup td {
	padding:6px 2px 2px 4px;
	margin:0;
	border:0;
	background-color:#f2f2f2;
	height: 0;
}
.wysiwyg-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	padding: 10px;
	z-index: 1;
}
@media (max-width: 767px) {
	.wysiwyg-fullscreen {
		top: 2.3rem;
	}
}
.wysiwyg-fullscreen .plxeditor-iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	min-height: 100%;
	overflow: hidden;
	padding: 60px 10px;
	display: block;
}
@media (max-width: 767px) {
	.wysiwyg-fullscreen .plxeditor-iframe {
		padding: 100px 10px;
	}
}
img {
	border:none;
}
select[data-tag="align"]  { 
	width: 75px;
}
select[data-tag="align"] option { 
	font-family: 'icomoon', Arial !important;
	font-size: 12px;
}
/* Definition des icones */
.plxeditor-toolbar select {
	border: none;
}
.plxeditor-toolbar span {
	display: inline-block;
	width: 20px;
	text-align:center;
	padding-bottom: 3px;
	cursor: pointer;
}
.plxeditor-toolbar span:hover {
	border-bottom: 2px solid #999 ;
}
@font-face {
	font-family: 'icomoon';
	src:    url('../fonts/icomoon.eot?lt99e');
	src:    url('../fonts/icomoon.eot?lt99e#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?lt99e') format('truetype'),
		url('../fonts/icomoon.woff?lt99e') format('woff'),
		url('../fonts/icomoon.svg?lt99e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-image:before {
  content: "\e900";
}
.icon-images:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e902";
}
.icon-headphones:before {
  content: "\e903";
}
.icon-film:before {
  content: "\e904";
}
.icon-quotes-right:before {
  content: "\e905";
}
.icon-link:before {
  content: "\e906";
}
.icon-font-size:before {
  content: "\e907";
}
.icon-bold:before {
  content: "\e908";
}
.icon-underline:before {
  content: "\e909";
}
.icon-italic:before {
  content: "\e90a";
}
.icon-strikethrough:before {
  content: "\e90b";
}
.icon-superscript:before {
  content: "\e90c";
}
.icon-subscript:before {
  content: "\e90d";
}
.icon-pagebreak:before {
  content: "\e90e";
}
.icon-clear-formatting:before {
  content: "\e90f";
}
.icon-pilcrow:before {
  content: "\e910";
}
.icon-paragraph-left:before {
  content: "\e911";
}
.icon-paragraph-center:before {
  content: "\e912";
}
.icon-paragraph-right:before {
  content: "\e913";
}
.icon-paragraph-justify:before {
  content: "\e914";
}
.icon-indent-increase:before {
  content: "\e915";
}
.icon-indent-decrease:before {
  content: "\e916";
}
.icon-embed:before {
  content: "\e917";
}
.icon-embed2:before {
  content: "\e918";
}
.icon-list-numbered:before {
  content: "\e91b";
}
.icon-list2:before {
  content: "\e91c";
}
.icon-happy:before {
  content: "\e91d";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-expand:before {
  content: "\f065";
}
.icon-compress:before {
  content: "\f066";
}
.icon-chain-broken:before {
  content: "\f127";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-soundcloud:before {
  content: "\f1be";
}
.icon-mouse-pointer:before {
  content: "\f245";
}
.icon-terminal:before {
  content: "\f120";
}
