.plxeditor-toolbar {
	height: 20px;
	padding: 5px 0 5px 0;
}
.plxeditor-toolbar  button {
	background-color: #fff;
	border: none;
	padding: 3px;
	outline: 0;
	font-size: 1rem;
	color: #555;
}
.plxeditor-toolbar  button:hover{
	border-bottom: 2px solid #888;
}

.deactivate {
    opacity: 0.5;  /* Opacity for Modern Browsers */
    filter: alpha(opacity=50);  /* Opacity for IE8 and lower */
    zoom: 1;  /* Fix for IE7 */
}

.plxeditor-textarea {
	margin-top: 20px;
	-moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
	border: 1px solid gray;
	font: medium -moz-fixed;
	font: -webkit-small-control;
	overflow: auto;
	padding: 10px;
	resize: vertical;
	min-height: 300px;
}

.plxeditor-footer {
	text-align: left;
	font-family: Arial;
	padding-top: 3px;
	font-size: 11px;
}

/**********************************/

/*
.plxeditor-textarea p, .plxeditor-textarea div {
	border: 1px #ccc dashed;
	padding: 5px;
	margin-top: 4px;
}
.plxeditor-textarea blockquote {
	background-color: #f0f0f0;
	padding: 5px;
	margin-top: 4px;
}
*/

/**********************************/

/* The Modal (background) */
.plxeditor-modal {
   /* display: none;*/ /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.plxeditor-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px 20px 20px 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.plxeditor-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.plxeditor-modal-close:hover,
.plxeditor-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.plxeditor-modal-title {
	margin-top: 10px;
	margin-bottom: 20px;	
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	font-weight: bold;
	font-family: Arial;
}

.plxeditor-modal-content table {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
}
.plxeditor-modal-content tr,
.plxeditor-modal-content tr:hover {
	background-color: #fff;
}
.plxeditor-modal-content tr:last-child {
	text-align: right;
}
.plxeditor-modal-content tr:last-child  td{
	padding-top: 15px;
}
.plxeditor-modal-content input[type="text"] {
	width: 100%;
	padding: 2px 3px 2px 3px;
}
.plxeditor-modal-content .btn {
	border: none;
	padding: 5px 10px 5px 10px;
	margin: 0 5px 0 5px;
}
.plxeditor-modal-content input#modal-btnSave {
	background-color: #3498DB;
	color: #fff;
}
.plxeditor-modal-content input#modal-btnSave:hover {
	background-color: #2D8AC7;
}
.plxeditor-modal-content input#modal-btnCancel {
	background-color: #F0F0F0;
	color: #333;
}
.plxeditor-modal-content input#modal-btnCancel:hover {
	background-color: #ddd;
}
/**********************************/

.plxeditor-popup {
	display: block;
	position: absolute;
	background-color: #f2f2f2;
	/*border: 1px solid #ACB6B9;*/
	box-shadow: -1px 2px 5px 1px rgba(165, 165, 165, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
.plxeditor-popup table {
	margin: 0;
	padding: 0;
	border: none;
	border-spacing: 0;
	border-collapse: collapse;
}
.plxeditor-popup tr:hover { background-color: initial; }
.plxeditor-popup tr,
.plxeditor-popup th,
.plxeditor-popup td {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

#plxeditor-cpicker tr {line-height:10px; background-color: transparent; }
#plxeditor-cpicker a { display: inline-block; width: 10px; border:1px solid #555; }

/*************************************/

@font-face {
	font-family: 'icomoon';
	src:    url('../fonts/icomoon.eot?lt99e');
	src:    url('../fonts/icomoon.eot?lt99e#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?lt99e') format('truetype'),
		url('../fonts/icomoon.woff?lt99e') format('woff'),
		url('../fonts/icomoon.svg?lt99e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


select[data-tag="align"]  { 
	font-family: 'icomoon', Arial !important;
}

.icon-adjust:before {
    content: "\f042";
}
.icon-tint:before {
    content: "\f043";
}
.icon-expand:before {
    content: "\f065";
}
.icon-compress:before {
    content: "\f066";
}
.icon-chain-broken:before {
    content: "\f127";
}
.icon-unlink:before {
    content: "\f127";
}
.icon-youtube:before {
    content: "\f167";
}
.icon-long-arrow-right:before {
    content: "\f178";
}
.icon-soundcloud:before {
    content: "\f1be";
}
.icon-mouse-pointer:before {
    content: "\f245";
}
.icon-image:before {
    content: "\e900";
}
.icon-images:before {
    content: "\e901";
}
.icon-camera:before {
    content: "\e902";
}
.icon-headphones:before {
    content: "\e903";
}
.icon-film:before {
    content: "\e904";
}
.icon-quotes-right:before {
    content: "\e905";
}
.icon-list-numbered:before {
    content: "\e91b";
}
.icon-list2:before {
    content: "\e91c";
}
.icon-link:before {
    content: "\e906";
}
.icon-happy:before {
    content: "\e91d";
}
.icon-font-size:before {
    content: "\e907";
}
.icon-bold:before {
    content: "\e908";
}
.icon-underline:before {
    content: "\e909";
}
.icon-italic:before {
    content: "\e90a";
}
.icon-strikethrough:before {
    content: "\e90b";
}
.icon-superscript:before {
    content: "\e90c";
}
.icon-subscript:before {
    content: "\e90d";
}
.icon-pagebreak:before {
    content: "\e90e";
}
.icon-clear-formatting:before {
    content: "\e90f";
}
.icon-pilcrow:before {
    content: "\e910";
}
.icon-paragraph-left:before {
    content: "\e911";
}
.icon-paragraph-center:before {
    content: "\e912";
}
.icon-paragraph-right:before {
    content: "\e913";
}
.icon-paragraph-justify:before {
    content: "\e914";
}
.icon-indent-increase:before {
    content: "\e915";
}
.icon-indent-decrease:before {
    content: "\e916";
}
.icon-embed2:before {
    content: "\e918";
}
.icon-embed:before {
	margin-top: 5px;
    content: "\e917";
	background-color: #eee;
	padding: 2px 3px 2px 3px;
	border: 1px solid #ccc;	
	color: #3498DB;
}
button.icon-embed:hover {
	border: none;
}
button.icon-embed:hover:before{
	color: #0D5D92;
}

/* view source */

.plxeditor-textarea .tag {
	color:#000099;
	margin:0;
	display:block;
}
.plxeditor-textarea blockquote {
	margin:0 0 0 15px;
}
.plxeditor-textarea b {
	font-weight:bold;
}
.plxeditor-textarea .literal {
	color:#0000FF;
}
.plxeditor-textarea .comment {
	color:#CCCCCC;
	display:block;
}

