.tag {
	color:#990099;
	margin:0;
	display:block;
}
.entities {
	color:#00CCCC;
  font-style: italic;
}
blockquote {
	margin:0 0 0 15px;
}
b {
	font-weight:bold;
}
.literal {
	color:#0000FF;
}
.comment {
	color:#CCCCCC;
	display:block;
}
